@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

*
{
    padding: 0;
    text-decoration: none;
    table-layout: fixed;
    border-spacing: 12px;
}

body
{
    font-family: 'Josefin Sans', sans-serif;
}

header
{
    margin-left: 200px;
    background-color: rgb(105, 143, 179);
    color: white;
    width: auto;
    min-height: 116px;
    text-align: center;
    line-height: 80px;
    border-radius: 15px 15px 0px 0px;
    border: 3px solid rgb(115, 126, 156);
}

header h1
{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#main
{
    margin-left: 200px;
    min-height: 750px;
    /* height: auto; */
    width: auto;
    background-color: rgb(228, 228, 228);
    
    display: flex;
    
    border-bottom: 3px solid rgb(115, 126, 156);
    border-left: 3px solid rgb(115, 126, 156);
    border-right: 3px solid rgb(115, 126, 156);
    
}

#mainab
{
    margin-left: 200px;
    min-height: 750px;
    /* height: auto; */
    width: auto;
    background-image: url("https://i.pinimg.com/originals/d7/59/b5/d759b559ad669f9e199f1aaaa381a8ab.jpg"
);
    
    display: flex;
    
    border-bottom: 3px solid rgb(115, 126, 156);
    border-left: 3px solid rgb(115, 126, 156);
    border-right: 3px solid rgb(115, 126, 156);
    
}

#sidebar
{
    
    box-sizing: border-box;
    top: 0;
    left: 0;
    position: fixed;
    float: left;
    width: 200px;
    height: 100%;
    background-color: rgb(111, 120, 136);
    padding: 25px 0;
    transition-duration: 0.4s;
}

#sidebar h2
{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding-bottom: 25px;
    transition-duration: 0.4s;
}

#content
{
    float: left;
    margin: 10px;
    width: 100%;
    height: auto;
    background-color: inherit;
    border: 2px solid rgb(211, 211, 211);
    padding: 20px;
}

#sidebar ul li
{
    list-style: none;
    padding: 15px;
    border-top: 1px solid rgba(87, 98, 116, 0.6);
}

#sidebar ul li a
{
    font-size: 18px;
    color: rgb(207, 207, 207);
    display: block;
}

#sblast { border-bottom: 1px solid rgba(87, 98, 116, 0.6);}


#sidebar ul li:hover
{
    background-color: rgb(101, 112, 128);;
}

#content table
{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#content table tr td
{
    padding-left: 15px;
    padding-top: 20px;
    overflow: hidden;
}

.dlectie
{
    background-color: rgb(90, 209, 209);
    color: white;
    border-radius: 5px;
}

#active
{
    color: white;
    text-decoration: underline;
}

#sidebar:hover
{   
    width: 280px;
}

#sidebar:hover h2
{
    font-size: 46px;
    padding-bottom: 5px;
}




#noi
{
    float: left;
    line-height: 50px;
    height: 50px;
    width: 275px;
    background-color: rgb(23, 55, 146);
    text-align: center;
    color: white;
    border: 2px solid black;
    border-right: 1px solid black;
    border-radius: 10px 0px 0px 3px;
    font-size: 20px;
    transition-duration: 0.5s;
    overflow: hidden;
}

#noi:hover
{
    background-color: rgb(61, 88, 163);
    border-radius: 10px 0px 10px 10px;
    border-right: 2px solid black;
    font-size: 18px;
    height: 250px;
}

#adrese
{
    float: left;
    line-height: 50px;
    height: 50px;
    width: 275px;
    background-color: rgb(23, 97, 146);
    text-align: center;
    color: white;
    border: 2px solid black;
    border-left: 1px solid black;
    border-radius: 0px 10px 3px 0px;
    font-size: 20px;
    transition-duration: 0.5s;
    overflow: hidden;
}

#adrese:hover
{
    background-color: rgb(61, 109, 163);
    border-radius: 0px 10px 10px 10px;
    border-left: 2px solid black;
    font-size: 18px;
    height: 250px;
}


#animatie
{
    margin: 0px;
    float: right;
    line-height: 50px;
    height: 50px;
    width: 275px;
    background-color: rgb(23, 146, 130);
    text-align: center;
    color: white;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 20px;
    transition-duration: 1s;
    overflow:hidden;
}

#animatie:hover
{
    margin: 20px;
	background-color: rgb(214, 186, 29);
    transform: rotate(15deg);
    height: 150px;
}	


#animatiehover
{
    margin-left: 200px;
    float: left;
    line-height: 150px;
    height: 150px;
    width: 150px;
    background-color: rgb(45, 163, 75);
    text-align: center;
    color: white;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 20px;
    transition-duration: 1s;
    overflow: visible;
}

#imagine1
{
    position: relative;
    top: 100px;
    right: 50px;
    height: 192px; 
    border-radius: 10px;
    border: 1px solid black;
    
    opacity: 0;
    transition-duration: 1s;
}

#animatiehover:hover #imagine1
{
    opacity: 100;
}