body
{
    /* background-color: gray; */
}

#navbardrop div
{
    background-color: red;
}

.culoare_roz
{
    background-color: #f90065;
    color: white;
}

.culoare_blue
{
    background-color: blue;
}















































#main
{
    background-color: gray;
    
    
}

#colw
{
    color: white;
}